body {

  background-color:#ecfbfc;
  
}

hr {
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

img {
  height: 125px;
}

h1 {
  color: #66BFBF;
}

3 {
  color: #66BFBF;
}
